.row.bg-primary
  .col-md-4.col-xs-12
    span(style="padding-left:45px;")
      a(ng-href="/deals")
        img(src="/images/home_icon.png" height="20px")

      .navbar-text(style="padding-left:10px;") {{deal.name}}

  .col-md-4.col-xs-12(style="")
    span(style="padding-left:10px;")
      a(ng-href="/deals/" + dealId + "/returns" style="color:white;") returns
    span(style="padding-left:10px;")
      a(ng-href="/deals/" + dealId + "/cashflow" style="color:white;") cashflows
    span(style="padding-left:10px;")
      a(ng-href="/deals/" + dealId + "/tenants" style="color:white;") tenants
  
  .col-md-4.col-xs-12(style="")
    span(style="padding-left:50px;")
      select(ng-model="scenario_id" )
        option(ng-repeat="s in scenarios" value="{{s.id}} ")
          | {{ s.name }}
          
    span(style="padding-left:10px;")
      .btn.btn-primary.pull-right.btn-sm(ng-click="toggle_psf()" ng-if="show_psf") psf
      .btn.btn-secondary.pull-right.btn-sm(ng-click="toggle_psf()" ng-if="!show_psf") psf
    
    span(style="padding-left:10px;")
      .btn.btn-primary.pull-right.btn-sm(ng-click="toggle_nets()" ng-if="show_nets") nets
      .btn.btn-secondary.pull-right.btn-sm(ng-click="toggle_nets()" ng-if="!show_nets") nets