

div.form-group
  label(for='name') expense:
  input#name.form-control(type='text', placeholder='' name='name')

div.form-group
  label(for='chargeback') chargeback:
  input#chargeback.form-control(type='unit', placeholder='' name='chargeback')

div.form-group
  label(for='actuals') actuals:
  input#actuals.form-control(type='text', placeholder='' name='actuals')

div.form-group
  label(for='estimates') estimates:
  input#estimates.form-control(type='text', placeholder='' name='estimates')

button.btn.btn-primary(type='submit') Save
a.btn.btn-primary(ng-href="/deals") Cancel