#link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
link(href="css/bootstrap.min.css", rel="stylesheet")
link(href="css/style.css", rel="stylesheet")
link(href="css/media.css", rel="stylesheet")
#script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
#script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
#script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')
script(src='js/jquery.js')
script(src='js/bootstrap.min.js')
script(src='js/angular.js')

script(src="js/modeal.js")
script(src="js/leases.js")
script(src="js/expenses.js")
script(src="js/income.js")
script(src="js/capital.js")
script(src="js/cashflow.js")