
link(href="/css/bootstrap4.min.css", rel="stylesheet")
link(href="/css/style.css", rel="stylesheet")
link(href="/css/media.css", rel="stylesheet")

script(src='/js/jquery.js')
script(src='/js/tether.min.js')
script(src='/js/bootstrap4.min.js')
script(src='/js/angular.js')



