
link(href="/css/bootstrap4.min.css", rel="stylesheet")
link(href="/css/style.css", rel="stylesheet")
link(href="/css/media.css", rel="stylesheet")

script(src='/js/lib/jquery.js')
script(src='/js/lib/tether.min.js')
script(src='/js/lib/bootstrap4.min.js')
script(src='/js/lib/angular.js')
script(src='/js/lib/angular-route.js')

script(src="/js/myApp.js")
script(src="/js/deals.js")
script(src="/js/lease.js")
script(src="/js/modeal.js")
script(src="/js/returns.js")
script(src="/js/tenants.js")
script(src="/js/expenses.js")
script(src="/js/income.js")
script(src="/js/capital.js")
script(src="/js/cashflow.js")
script(src="/js/building.js")



