doctype html
html(ng-app="myApp")
  head
    title modeal
    #link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")
    link(href="css/media.css", rel="stylesheet")
    #script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    #script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    #script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='js/angular.js')
    script(src="data/harrison/leases.json")
    script(src="data/harrison/expenses.json")
    script(src="data/harrison/scenarios.json")
    script(src="data/harrison/vacancies.json")
    script(src="js/vacancy.js")
    script(src="js/expenses.js")
    script(src="js/leases.js")
    script(src="js/cashflow.js")

  body
    .block(ng-controller="myController")
      .row
        .col-xs-3
          .btn(ng-click="toggle_nets()" )
            span(ng-if="show_nets") hide nets
            span(ng-if="!show_nets") show nets
        .col-xs-3
          .btn(ng-click="toggle_psf()" )
            span(ng-if="show_psf") hide psf
            span(ng-if="!show_psf") show psf
        .col-xs-3
          select(ng-model="scenario_id")
            option(ng-repeat="s in scenarios" value="{{s.id}} ")
              | {{ s.name }}
        .col-xs-3
          | {{ scenario_id }}
      table.table
        thead
          tr
            th.key

            th(ng-repeat="year in years" ) 
              .btn
                | {{year.start_date.getFullYear()}}
              .row(ng-if="show_nets && show_tenants")
                .col-xs-4 base
                .col-xs-4 retax
                .col-xs-4 cam

        tbody(ng-if="false")
          tr
            th.white.key
              .btn(ng-click="toggle_tenants()" ) occupancy
            td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
              | {{ get_years_occupancy(year.start_date.getFullYear()) }}

        tbody(ng-if="!show_tenants && !show_nets")
          tr
            th.white.key(ng-click="toggle_tenants()" )
              | current tenants
              
            td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
              .row(ng-if="show_nets")
                .col-xs-3 {{ get_years_rent(year.start_date.getFullYear(),'base') }}
                .col-xs-3 {{ get_years_rent(year.start_date.getFullYear(),'retax') }}
                .col-xs-3 {{ get_years_rent(year.start_date.getFullYear(),'cam') }}
                .col-xs-3 {{ get_years_rent(year.start_date.getFullYear(),'mgmt') }}
              .block(ng-if="!show_nets")
                | {{ get_years_rent(year.start_date.getFullYear(),'all') }}

        tbody(ng-if="!show_tenants && show_nets")
          tr
            th.white.key(ng-click="toggle_tenants()" )
              | current tenants
        
          tr()
            th.white.key base rent
              td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
                | {{ get_years_rent(year.start_date.getFullYear(),'base') }}
          tr()
            th.white.key re taxes
              td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
                | {{ get_years_rent(year.start_date.getFullYear(),'retax') }}
          tr()
            th.white.key cam 
              td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
                | {{ get_years_rent(year.start_date.getFullYear(),'cam') }}
          tr()
            th.white.key mgmt 
              td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
                | {{ get_years_rent(year.start_date.getFullYear(),'mgmt') }}
          tr()
            th.white.key total
              td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
                | {{ get_years_rent(year.start_date.getFullYear(),'all') }}

        tbody(ng-if="show_tenants")
          tr
            th.white.key(ng-click="toggle_tenants()" )
              | current tenants
        
          tr(ng-repeat="lease in leases")
            th.white.key
              .row
                .col-xs-12.col-sm-6 {{lease.tenant}} 
                .col-xs-12.col-sm-6 {{lease.space.sqft}}
                
            td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
              .row(ng-if="show_nets")
                .col-xs-3
                  | {{ get_tenants_rent($parent.lease.id, year.start_date.getFullYear(),'base') }}
                .col-xs-3
                  | {{ get_tenants_rent($parent.lease.id, year.start_date.getFullYear(),'retax') }}
                .col-xs-3
                  | {{ get_tenants_rent($parent.lease.id, year.start_date.getFullYear(),'cam') }}
                .col-xs-3
                  | {{ get_tenants_rent($parent.lease.id, year.start_date.getFullYear(),'mgmt') }}
                  
              .block(ng-if="!show_nets")
                | {{ get_tenants_rent($parent.lease.id, year.start_date.getFullYear(),'all') }}

          tr
            th.white.key(ng-click="toggle_tenants()" )
              | total
            td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
              .row(ng-if="show_nets")
                .col-xs-3 {{ get_years_rent(year.start_date.getFullYear(),'base') }}
                .col-xs-3 {{ get_years_rent(year.start_date.getFullYear(),'retax') }}
                .col-xs-3 {{ get_years_rent(year.start_date.getFullYear(),'cam') }}
                .col-xs-3 {{ get_years_rent(year.start_date.getFullYear(),'mgmt') }}
              .block(ng-if="!show_nets")
                | {{ get_years_rent(year.start_date.getFullYear(),'all') }}


        tbody
          tr(ng-if="show_expirations")
            th.white.key(ng-click="toggle_expirations()") expirations
            td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
              .row(ng-repeat="space in expirations[year.start_date.getFullYear()]" )
                .col-xs-6 {{ space.sqft }} 
                .col-xs-6 {{ space.available |date:'MMM'}} 
                .col-xs-12 {{ space.old_tenant}}
                
          tr(ng-if="!show_expirations")
            th.white.key(ng-click="toggle_expirations()") expirations
            td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")

                
        tbody()

          tr(ng-if="show_new_leases")
            th.white.key(ng-click="toggle_new_leases()") new leases
            td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
              .row(ng-repeat="lease in new_leases[year.start_date.getFullYear()]")
                .col-xs-6 {{ lease.space.sqft }} 
                .col-xs-6 {{ lease.space.periods[0].start_date |date:'MMM'}} 
                //.col-xs-12 {{ lease.space.id}}
                
          tr()
            th.white.key(ng-click="toggle_new_leases()") new income
            th(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
              .row(ng-if="show_nets && show_tenants")
                .col-xs-3 {{ get_years_new_rent(year.start_date.getFullYear(),'base') }}
                .col-xs-3 {{ get_years_new_rent(year.start_date.getFullYear(),'retax') }}
                .col-xs-3 {{ get_years_new_rent(year.start_date.getFullYear(),'cam') }} 
                .col-xs-3 {{ get_years_new_rent(year.start_date.getFullYear(),'mgmt') }} 
              .block(ng-if="!show_nets || !show_tenants")
                | {{ get_years_new_rent(year.start_date.getFullYear(),'all') }}


        tbody(ng-if="show_tenants")
          tr
            th.white.key total income
            th(ng-repeat="year in years"  ng-class="{white: ($index % 2) }" ) 
              .row(ng-if="show_nets")
                .col-xs-3 {{ get_years_rent(year.start_date.getFullYear(),'base') }}
                .col-xs-3 {{ get_years_rent(year.start_date.getFullYear(),'retax') }}
                .col-xs-3 {{ get_years_rent(year.start_date.getFullYear(),'cam') }}
                .col-xs-3 {{ get_years_rent(year.start_date.getFullYear(),'mgmt') }}
              .block(ng-if="!show_nets")
                | {{ get_years_rent(year.start_date.getFullYear(),'all') }}

        tbody(ng-if="!show_tenants")
          tr
            th.white.key total income
            th(ng-repeat="year in years" ng-class="{white: ($index % 2) }") 
              .block()
                | {{ get_years_total_rent(year.start_date.getFullYear(),'all') }}


        tbody()
          tr
            th.white.key
              | occupancy
            td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
              .row
                .col-xs-12 {{ get_years_occupancy(year.start_date.getFullYear()) }}

        tbody(ng-if="show_expenses")
          tr(ng-repeat="expense in expenses")
            th.white.key {{ expense.name }}
            td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
              .block()
                | {{ get_years_expense($parent.expense.id, year.start_date.getFullYear()) }}

        tbody
          tr
            th.white.key(ng-click="toggle_expenses()" )
              | total expense
            th(ng-repeat="year in years" ng-class="{white: ($index % 2) }") 
              | {{ get_years_expense('all',year.start_date.getFullYear()) }}


        tbody()
          tr
            th.white.key net operating income
            th(ng-repeat="year in years" ng-class="{white: ($index % 2) }") 
              | {{ get_noi(year.start_date.getFullYear(),show_psf) }}
              
        tbody()
          tr
            th.white.key tenant improvements
            th(ng-repeat="year in years" ng-class="{white: ($index % 2) }") 
              | {{ get_tenant_improvements(year.start_date.getFullYear()) }}

        tbody()
          tr
            th.white.key leasing commisions
            th(ng-repeat="year in years" ng-class="{white: ($index % 2) }") 
              | {{ get_leasing_commissions(year.start_date.getFullYear()) }}

        tbody()
          tr
            th.white.key capex reserve
            th(ng-repeat="year in years" ng-class="{white: ($index % 2) }") 
              | {{ get_capex(year.start_date.getFullYear()) }}

        tbody()
          tr
            th.white.key cash flow
            th(ng-repeat="year in years" ng-class="{white: ($index % 2) }") 
              | {{ get_cash_flow(year.start_date.getFullYear(),show_psf) }}
