doctype html
html(ng-app="myApp")
  head
    title modeal
    include includes/scripts.jade
    script(src="/js/modeal.js")
    script(src="/js/cashflow.js")
    script(src="/js/leases.js")
    script(src="/js/expenses.js")
    script(src="/js/income.js")
    script(src="/js/capital.js")

    
    script(type='text/javascript').
      var dealId = '!{dealId}'

  body(ng-controller="modealController")
    include includes/dealnav.jade

    .block(ng-controller="cashflowController")          
      table.table
        thead
          tr
            td.key
              | {{ building.sqft }} sf

            td(ng-repeat="year in years" ng-style="colcol($index)") 
              .btn
                | {{year.end_date | date : "MMM yyyy" }}

        tbody(ng-if="!show_nets")
          tr
            th.row
              .col-8 
                span(style="") Income
              .col-4
                span(ng-click="toggle_nets()" ) 
                  img(ng-src="/images/arrow_down.png" height="20px")
            td(ng-repeat="year in years" ng-style="colcol($index)")
              | {{ get_years_total_rent(year,'all') }}  
              
        tbody(ng-if="show_nets")
          tr
            th.row
              .col-8 
                span(style="") Income
              .col-4
                span(ng-click="toggle_nets()" ) 
                  img(ng-src="/images/arrow_up.png" height="20px" )
        
          tr()
            th.key() Base Rent
            td(ng-repeat="year in years" ng-style="colcol($index)")
              | {{ get_years_total_rent(year,'base') }}

          tr()
            th.key RE Taxes
            td(ng-repeat="year in years" ng-style="colcol($index)")
              | {{ get_years_total_rent(year,'retax') }}
              
          tr()
            th.key CAM 
            td(ng-repeat="year in years" ng-style="colcol($index)")
              | {{ get_years_total_rent(year,'cam') }}

          tr(style="")
            th.key Total  
            td(ng-repeat="year in years" ng-style="colcol($index)")
              | {{ get_years_total_rent(year,'all') }}


        tbody(ng-if="!show_expenses")
          tr
            th.row
              .col-8 
                span(style="") Expenses
              .col-4
                span(ng-click="toggle_expenses()" ) 
                  img(ng-src="/images/arrow_down.png" height="20px" )
                  
            td(ng-repeat="year in years" ng-style="colcol($index)") 
              | {{ get_years_expense('all',year) }}

        tbody(ng-if="show_expenses")
          tr
            th.row
              .col-8 Expenses
              .col-4
                span(ng-click="toggle_expenses()" ) 
                  img(ng-src="/images/arrow_up.png" height="20px" )
                  
          tr(ng-repeat="expense in expenses")
            th.key {{ expense.name }}
            td(ng-repeat="year in years" ng-style="colcol($index)")
              .block()
                | {{ get_years_expense($parent.expense.id, year) }}

          tr
            th.key()
              | Total
            td(ng-repeat="year in years" ng-style="colcol($index)") 
              | {{ get_years_expense('all',year) }}


        tbody()
          tr
            th NOI
            th(ng-repeat="year in years" ng-style="colcol($index)") 
              | {{ get_noi(year) }}

        tbody(ng-if="!show_capital")
          tr
            th.row
              .col-8 
                span(style="") Capital
              .col-4
                span(ng-click="toggle_capital()" ) 
                  img(ng-src="/images/arrow_down.png" height="20px" )
                  
            td(ng-repeat="year in years" ng-style="colcol($index)") 
              | {{ get_total_capital(year) }}

        tbody(ng-if="show_capital")
          tr
            th.row
              .col-8 
                span(style="") Capital
              .col-4
                span(ng-click="toggle_capital()" ) 
                  img(ng-src="/images/arrow_up.png" height="20px" )

          tr
            th.key Tenant Improvements
            th(ng-repeat="year in years" ng-style="colcol($index)") 
              | {{ get_tenant_improvements(year) }}

          tr
            th.key Leasing Commisions
            th(ng-repeat="year in years" ng-style="colcol($index)") 
              | {{ get_leasing_commissions(year) }}

          tr
            th.key Building Improvements
            th(ng-repeat="year in years" ng-style="colcol($index)") 
              | {{ get_capex(year) }}

          tr
            th.key()
              | Total
            td(ng-repeat="year in years" ng-style="colcol($index)") 
              | {{ get_total_capital(year) }}

        tbody()
          tr
            th Cash Flow
            th(ng-repeat="year in years" ng-style="colcol($index)") 
              | {{ get_cash_flow(year) }}
