doctype html
html(ng-app="myApp")
  head
    title modeal
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")
    link(href="css/media.css", rel="stylesheet")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')
    script(src="js/data.json")
    script(src="js/cashflow.js")

  body
    .block(ng-controller="myController")
      table.table
        thead
          tr
            th tenant
            th(ng-repeat="year in years") {{year.start_date.getFullYear()}}
              .row
                .col-xs-4 base
                .col-xs-4 retax
                .col-xs-4 cam
        tbody
          tr(ng-repeat="lease in leases")
            th {{lease.tenant}}
            td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
              .row
                .col-xs-4
                  | {{ get_tenants_rent($parent.lease.id, year.start_date.getFullYear(),'base') }}
                .col-xs-4
                  | {{ get_tenants_rent($parent.lease.id, year.start_date.getFullYear(),'retax') }}
                .col-xs-4
                  | {{ get_tenants_rent($parent.lease.id, year.start_date.getFullYear(),'cam') }}
        tfoot
          tr
            th total
            th(ng-repeat="year in years") 
              .row
                .col-xs-4 {{ get_years_rent(year.start_date,'base') }}
                .col-xs-4 {{ get_years_rent(year.start_date,'retax') }}
                .col-xs-4 {{ get_years_rent(year.start_date,'cam') }}

