doctype html
html(ng-app="myApp")
  head
    title modeal
    include includes/scripts.jade

    
    script(type='text/javascript').
      var dealId = '!{dealId}'

  body(ng-controller="modealController")
    include includes/dealnav.jade

    .block         
      include includes/cashflow.jade