doctype html
html(ng-app="myApp")
  head
    title modeal
    include includes/scripts.jade

  body(ng-controller="modealController")
    include includes/topnav.jade

    .block(ng-controller="cashflowController")          
      table.table
        thead
          tr
            th.key

            th(ng-repeat="year in years" ) 
              .btn
                | {{year.start_date.getFullYear()}}


        tbody()
          tr(ng-if="show_nets")
            th.white.key() base rent
              td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
                | {{ get_years_total_rent(year.start_date.getFullYear(),'base') }}

          tr(ng-if="show_nets")
            th.white.key re taxes
              td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
                | {{ get_years_total_rent(year.start_date.getFullYear(),'retax') }}
          tr(ng-if="show_nets")
            th.white.key cam 
              td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
                | {{ get_years_total_rent(year.start_date.getFullYear(),'cam') }}

          tr(style="border: 5px solid black;")
            th.white.key gross rent
              td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
                | {{ get_years_total_rent(year.start_date.getFullYear(),'all') }}


        tbody(ng-if="show_expenses")
          tr(ng-repeat="expense in expenses")
            th.white.key {{ expense.name }}
            td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
              .block()
                | {{ get_years_expense($parent.expense.id, year.start_date.getFullYear()) }}

        tbody
          tr
            th.white.key(ng-click="toggle_expenses()" )
              | total expense
            th(ng-repeat="year in years" ng-class="{white: ($index % 2) }") 
              | {{ get_years_expense('all',year.start_date.getFullYear()) }}


        tbody()
          tr
            th.white.key net operating income
            th(ng-repeat="year in years" ng-class="{white: ($index % 2) }") 
              | {{ get_noi(year.start_date.getFullYear()) }}
              
        tbody()
          tr
            th.white.key tenant improvements
            th(ng-repeat="year in years" ng-class="{white: ($index % 2) }") 
              | {{ get_tenant_improvements(year.start_date.getFullYear()) }}

        tbody()
          tr
            th.white.key leasing commisions
            th(ng-repeat="year in years" ng-class="{white: ($index % 2) }") 
              | {{ get_leasing_commissions(year.start_date.getFullYear()) }}

        tbody()
          tr
            th.white.key capex reserve
            th(ng-repeat="year in years" ng-class="{white: ($index % 2) }") 
              | {{ get_capex(year.start_date.getFullYear()) }}

        tbody()
          tr
            th.white.key cash flow
            th(ng-repeat="year in years" ng-class="{white: ($index % 2) }") 
              | {{ get_cash_flow(year.start_date.getFullYear()) }}
