doctype html
html(ng-app="myApp")
  head
    title modeal
    #link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")
    link(href="css/media.css", rel="stylesheet")
    #script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    #script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    #script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='js/angular.js')
    script(src="data/harrison/spaces.json")
    script(src="data/harrison/leases.json")
    script(src="data/harrison/expenses.json")
    script(src="data/harrison/scenarios.json")
    script(src="data/harrison/vacancies.json")
    script(src="js/modeal.js")
    script(src="js/tenants.js")
    script(src="js/scenarios.js")
    script(src="js/expenses.js")
    script(src="js/income.js")
    script(src="js/capital.js")
    script(src="js/cashflow.js")

  body(ng-controller="modealController")
    .block
      .row
        .col-xs-3
          .btn(ng-click="toggle_nets()" )
            span(ng-if="show_nets") hide nets
            span(ng-if="!show_nets") show nets
        .col-xs-3
          .btn(ng-click="toggle_psf()" )
            span(ng-if="show_psf") hide psf
            span(ng-if="!show_psf") show psf
        .col-xs-3
          select(ng-model="scenario_id")
            option(ng-repeat="s in scenarios" value="{{s.id}} ")
              | {{ s.name }}
        .col-xs-3
          | {{ scenario_id }}
          
    .block(ng-controller="incomeController")
      table.table
        thead
          tr
            th.key

            th(ng-repeat="year in years" ) 
              .btn
                | {{year.start_date.getFullYear()}}
              .row(ng-if="show_nets && show_tenants")
                .col-xs-4 base
                .col-xs-4 retax
                .col-xs-4 cam

          tr(ng-repeat="space in spaces")
            th.white.key
              .row
                .col-xs-12.col-sm-6 {{space.id}} 
                .col-xs-12.col-sm-6 {{space.sqft}}
                
            td(ng-repeat="year in years" ng-class="{white: ($index % 2) }")
              .row
                .col-xs-12 {{get_space_tenant(space.id, year.start_date.getFullYear())}}
              .row(ng-if="show_nets")
                .col-xs-3 {{ get_space_rent(space.id, year.start_date.getFullYear(),'base') }}
                .col-xs-3 {{ get_space_rent(space.id, year.start_date.getFullYear(),'retax') }}
                .col-xs-3 {{ get_space_rent(space.id, year.start_date.getFullYear(),'cam') }}
                .col-xs-3 {{ get_space_rent(space.id, year.start_date.getFullYear(),'mgmt') }}
              .block(ng-if="!show_nets")
                | {{ get_space_rent(space.id, year.start_date.getFullYear(),'all') }}
        
