doctype html
html(ng-app="myApp")
  head
    title modeal
    include includes/scripts.jade


    
    script(type='text/javascript').
      var dealId = '!{dealId}'

  body(ng-controller="modealController")
    include includes/dealnav.jade

    .block(ng-controller="tenantsController")          
      table.table
        thead
          tr
            td.key
              //| {{ building.sqft }} sf

            td(ng-repeat="year in years" ng-style="colcol($index)") 
              .btn
                | {{year.end_date | date : "MMM yyyy" }}

        tbody( )
          tr(ng-repeat="lease in leases")
            td.key
              div {{ lease.tenant }}
              div {{ lease.space.sqft }} sf 
                
            td(ng-repeat="year in years" ng-style="colcol($index)")
              .block.clearfix(ng-if="check_lease_in_year(lease, year)" style="")
                //div {{ lease.tenant }}
                //div {{ lease.space.sqft }} sqft
                
                //.block(ng-repeat="period in get_lease_periods(lease, year)" )
                //  | months ( {{ period_months_in_year(period,year) }} )
                //  | {{ period.start }} - {{ period.end }}
                   
                //.pull-right
                .block(ng-if="!show_nets")
                  | {{ get_lease_rent(lease,year,'all') }}
                .block(ng-if="show_nets")
                  .row
                    .col-4 base
                    .col-8(style="text-align:right;")
                      | {{ get_lease_rent(lease,year,'base') }}
                  .row
                    .col-4 tax
                    .col-8(style="text-align:right;")
                      | {{ get_lease_rent(lease,year,'retax') }}
                  .row
                    .col-4 cam
                    .col-8(style="text-align:right;") 
                      | {{ get_lease_rent(lease,year,'cam') }}

        tbody( ng-if="true"  )
          tr
            th.key
              | New Leases
            td(ng-repeat="year in years" ng-style="colcol($index)")
              .block()
                .block {{ get_years_new_sqft(year).sqft }} sf
                .block {{ get_years_new_sqft(year).tenants }} tenants


        tbody( ng-if="true" )    
          tr
            th.key
              | New Income
              
          tr(ng-repeat="lease in new_leases" )
            td.key 
              //.block {{ lease.tenant }}
              .block {{ lease.space['lease-start'] | date : "MMM yyyy" }} 
              .block {{ lease.space.sqft }} sf
            
            td(ng-repeat="year in years" ng-style="colcol($index)")
                
              .block.clearfix(ng-if="check_lease_in_year(lease, year)" )

                //.block(ng-repeat="period in get_lease_periods(lease,year)" )
                //  | months ( {{ period_months_in_year(period,year) }} )
                //  | {{ period.start }} - {{ period.end }}
                .pull-right
                  .block(ng-if="!show_nets")
                    | {{ get_lease_rent(lease,year,'all') }}
                  .block(ng-if="show_nets")
                    .row
                      .col-4 base
                      .col-8 {{ get_lease_rent(lease,year,'base') }}
                    .row
                      .col-4 tax
                      .col-8 {{ get_lease_rent(lease,year,'retax') }}
                    .row
                      .col-4 cam
                      .col-8 {{ get_lease_rent(lease,year,'cam') }}
                      
              //.block.clearfix(ng-if="!check_lease_in_year(lease, year)" style="border: 1px solid black;")
                div {{ lease.tenant }}
        


        
